<ion-view view-title="Tabs">
  <ion-tabs class="tabs-striped tabs-stable" >
        <ion-tab title="Stable" icon-on="" icon-off="" href="#/app/header/stable">
          <ion-nav-view name="stable"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Positive" icon-on="" icon-off="" href="#/app/header/positive">
          <ion-nav-view name="positive"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Calm" icon-on="" icon-off="" href="#/app/header/calm">
          <ion-nav-view name="calm"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Balanced" icon-on="" icon-off="" href="#/app/header/balanced">
          <ion-nav-view name="balanced"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Energized" icon-on="" icon-off="" href="#/app/header/energized">
          <ion-nav-view name="energized"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Assertive" icon-on="" icon-off="" href="#/app/header/assertive">
          <ion-nav-view name="assertive"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Royal" icon-on="" icon-off="" href="#/app/header/royal">
          <ion-nav-view name="royal"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Dark" icon-on="" icon-off="" href="#/app/header/dark">
          <ion-nav-view name="dark"></ion-nav-view>
        </ion-tab>
      </ion-tabs>
</ion-view>
  