<ion-view view-title="Header">
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
           <ion-nav-buttons side="right">
        <button class="button button-icon button-clear  ion-ios-bell" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="bar bar-header bar-stable">
      <h2 class="title">Sub Header</h2>
    </div>
    
    </ion-content>
    <div class="bar bar-footer bar-balanced">
      <button class="button button-clear pull-right">Right</button>
    </div>
</ion-view>
  