<ion-view view-title="Inputs">
  <ion-tabs class="tabs-striped tabs-color-positive">
        <ion-tab title="Form" icon-on="ion-document-text" icon-off="ion-document" href="#/app/input/form">
          <ion-nav-view name="form"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Checkbox" icon-on="ion-ios-checkmark" icon-off="ion-ios-checkmark-outline" href="#/app/input/checkbox">
          <ion-nav-view name="checkbox"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Toggle" icon-on="ion-toggle-filled" icon-off="ion-toggle" href="#/app/input/toggle">
          <ion-nav-view name="toggle"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Radio" icon-on="ion-ios-circle-filled" icon-off="ion-ios-circle-outline" href="#/app/input/radio">
          <ion-nav-view name="radio"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Select" icon-on="ion-android-arrow-dropdown-circle" icon-off="ion-android-arrow-dropdown" href="#/app/input/select">
          <ion-nav-view name="select"></ion-nav-view>
        </ion-tab>
      </ion-tabs>
</ion-view>
  