<ion-view view-title="Button">
    <ion-content padding="true">
            <p>
               <button class="button button-small button-light">
                  Small Button
                </button>
            </p>
            <p>
                <button class="button button-stable">
                  Default
                </button>
            </p>
            <p>
                <button class="button button-large button-positive">
                  Large Button
                </button>
            </p>
            <p>
                <button class="button button-outline button-calm">
                  Outlined Button
                </button>
            </p>
            <p>
                <button class="button button-clear button-balanced">
                  Clear Button
                </button>
            </p>
            <p>
                <button class="button button-clear button-energized">
                  <i class="icon ion-load-d "></i> Loading...
                </button>
            </p>
            <p>
                <button class="button button-block button-assertive">
                  Block Button
                </button>
            </p> 
            <p>
                <button class="button button-full button-royal">
                  Full Width Block Button
                </button>
            </p>    
            <p>
                <div class="button-bar bar-dark">
                  <a class="button">First</a>
                  <a class="button">Second</a>
                  <a class="button">Third</a>
                </div>
            </p>
    </ion-content>
</ion-view>
  