<ion-view view-title="Form">
  <ion-content>
      <div class="bar bar-header item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search">
          </label>
          <button class="button button-clear">
            Cancel
          </button>
        </div>
        
          <form ng-submit="doLogin()">
             <div class="list">
              <label class="item item-input item-floating-label">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="First Name">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="Last Name">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="Email">
              </label>
              </div>
              <div class="padding">
                  <button class="button button-block button-positive" type="submit">Log in</button>
              </div>
            </form>  
  </ion-content>
</ion-view>
