<ion-view view-title="Header">
  <!-- 若要修改 header bar 把menu.html裡的 <ion-nav-bar> 整個複製下來貼在 <ion-view> & <ion-content> 的中間-->
  <!-- 修改 header bar 結束 --> 

  <ion-content on-swipe-right="goLeft()" on-swipe-left="goRight()">
    <h1>Stable Header (灰色)</h1>
    <a class="button button-full button-positive" href="#/app/header/positive">
      positive Header (藍色)
    </a>
    <a class="button button-full button-calm" href="#/app/header/calm">
      calm Header (青色)
    </a>
    <a class="button button-full button-balanced" href="#/app/header/balanced">
      balanced Header (藍色)
    </a>
    <a class="button button-full button-energized" href="#/app/header/energized">
      energized Header (黃色)
    </a>
    <a class="button button-full button-assertive" href="#/app/header/assertive">
      assertive Header (藍色)
    </a>
    <a class="button button-full button-royal" href="#/app/header/royal">
      royal Header (藍色)
    </a>
    <a class="button button-full button-dark" href="#/app/header/dark">
      dark Header (藍色)
    </a>
  </ion-content>
</ion-view>